body{overflow-y:scroll}
a{text-decoration: none;color: #2C7DA0;}
div#logo a{color:black;float:left;font-size:18px;font-weight:bold;text-decoration:none}
#content{width:695px}
.container.main{padding:60px 0 60px 0}
.sidebar{height:20px}
div#nav{position:fixed;width:200px}
#nav .hero{margin-bottom:10px}
#nav a{color:#181818; display:block;font-weight:bold;text-decoration:none;margin:15px 0;line-height: 15px;}
#nav a:hover{text-decoration: underline;}
h4.title{line-height:30px;margin-bottom:15px;margin-top:5px;}
h5{line-height:30px;margin-bottom:7px;margin-top:25px;padding-top:0}
h1{font-size:24px}
h2{font-size:20px}
div.info{color:#555;font-size:14px;font-style:italic}
p.caption{font-size: 12px;margin-left: 25px;margin-right: 25px;margin-bottom: 25px;line-height: 14px;background: rgb(247, 247, 247);padding: 5px;}
table{width: 90%;margin-left: auto;margin-right: auto;}